body {
    margin: 0;
    width: 400px;
    font-size: 14px;
    background-color: #343541;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid;
    border-color: #474747;
    padding: 1rem;
}

#action-btn-container {
    display: flex;
    gap: 0.5rem;
}

.input-container {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#model-dropdown-btn {
    display: flex;
    gap: 0.5rem;
    outline: none;
    color: white;
    padding: 10px;
    background-color: #444654;
    border-radius: 12px;
    border: 1px solid #444654;
    cursor: pointer;
}

#model-dropdown-btn:hover {
    background-color: #343541;
}

#model-dropdown-btn-text {
    pointer-events: none;
}

.active {
    background-color: #343541 !important;
}

#model-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #444654;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
    padding: 0.5rem;
    margin-top: 6px;
    width: max-content;
    border-radius: 12px;
    gap: 0.5rem;
}

.model-dropdown-btn {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.model-dropdown-btn:hover {
    background-color: #343541;
}

#user-input {
    width: 100%;
    outline: none;
    color: white;
    padding: 0.5rem;
    background-color: #444654;
    border-radius: 12px;
    border: none;
}

#chat-container {
    height: 320px;
    position: relative;
}

#chat-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #343541);
    pointer-events: none;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 0.5rem;
    padding: 1rem;
}

.message {
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message:last-child {
    margin-bottom: 1rem;
}

.assistant {
    color: green;
    background-color: #e6ffe6;
}

.user {
    color: blue;
    background-color: #e6f7ff;
    margin-left: auto;
}

.system {
    color: white;
    background-color: #474747;
}

.action-btns {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.action-btn {
    color: #008001;
    cursor: pointer;
}

.action-btn:hover {
    color: #006600;
}

.delete-btn {
    color: #008001;
    cursor: pointer;
}

#send-btn {
    color: white;
    padding: 10px;
    background-color: #444654;
    border-radius: 12px;
    border: 1px solid #444654;
    cursor: pointer;
    width: 38px;
}

#send-btn:disabled {
    background-color: #343541;
    cursor: not-allowed;
}

#send-btn:hover {
    background-color: #343541;
}

#action-btns {
    display: flex;
    gap: 0.5rem;
}


#settings-btn {
    color: white;
    padding: 10px;
    background-color: #444654;
    border-radius: 12px;
    border: 1px solid #444654;
    cursor: pointer;
    width: 38px;
}

#settings-btn:hover {
    background-color: #343541;
}

#clear-chat-btn {
    color: white;
    padding: 10px;
    background-color: #444654;
    border-radius: 12px;
    border: 1px solid #444654;
    cursor: pointer;
    margin-left: auto;
    width: 38px;
}

#clear-chat-btn:hover {
    background-color: #343541;
}

#clear-chat-btn:disabled {
    background-color: #343541;
    cursor: not-allowed;
}

.code-block {
    background-color: #343541;
    color: white;
    padding: 10px;
    border-radius: 12px;
    overflow: scroll;
}